.loader {
    z-index: 99;
    position: absolute;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 60%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.loaderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    transition: all 0.5s ease-in-out;
}